.git
.idea
charts
node_modules
vendor
.dockerignore
.editorconfig
.env
.env.example
.env.local
.env.testing
.gitattributes
.gitignore
.gitlab-ci.yml
.phpunit.result.cache
docker-compose.yml
Dockerfile
package.json
phpunit.xml
README.md
skaffold.yaml
